<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DATABASE_URL</key>
	<string>https://lancerhacks-1f2c6-default-rtdb.firebaseio.com/</string>
	<key>CLIENT_ID</key>
	<string>971410042219-rq3cpfv9vt9o348a7ideis3tsmj296c7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.971410042219-rq3cpfv9vt9o348a7ideis3tsmj296c7</string>
	<key>API_KEY</key>
	<string>AIzaSyChxjJBWmmsgZdDQnl8_L1k9QDJpGKUYn4</string>
	<key>GCM_SENDER_ID</key>
	<string>971410042219</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sid.lancerhacks</string>
	<key>PROJECT_ID</key>
	<string>lancerhacks-1f2c6</string>
	<key>STORAGE_BUCKET</key>
	<string>lancerhacks-1f2c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:971410042219:ios:fa813294fad984d255302e</string>
</dict>
</plist>
